.callout {
  border-left: 3px solid #4B19D5;
  color: #666;
  font-size: #{(16/18)}rem;
  margin: 1.5rem 0 2rem 0;
  padding: 0 0 0 1rem;

  .callout__title {
    color: #4B19D5;
    font-size: 1rem;
    font-weight: 700;

    position: relative;

    .callout__anchor {
      text-decoration: none;

      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: #4B19D5;
      }

      &:hover:before {
        color: #666;
        content: '#';
        font-size: 1rem;
        font-weight: normal;
        left: -23px;
        margin-left: .5rem;
        position: absolute;
      }
    }
  }

  p { margin: 0; }

  p + p { margin: 0.5rem 0 0 0; }
}

.callout--troubleshooting {
  @extend .callout;

  border-color: #FFBA11;

  .callout__title {
    color: #FFBA11;

    .callout__anchor {
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: #FFBA11;
      }
    }
  }
}

.callout--wip {
  @extend .callout;

  border-color: #FFBA11;

  .callout__title {
    color: #FFBA11;

    .callout__anchor {
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: #FFBA11;
      }
    }

  }
}
